* {
    font-family: sans-serif;
}

.headerlinks ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-right: 40px;
}

.header {
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.headericon {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    margin-left: 50px;
    font-weight: 700;
}

.top-main-text {
    width: 500px;
    display:block;
    margin-left: 100px;
    flex-shrink: 0;
}

.top-main-text h2 {
    font-size: 40px;
}

.top-main-text p {
    font-size: 18px;
}

.top-section {
    background-color: #0d121c;
    display:flex;
    align-items: center;
    justify-content: center;
    height:500px;
    color: white;
}

.top-image {
    display:flex;
    align-items: end;
    justify-content: end;
    width: 600px;
    margin-left: 150px;
}

.imagetop {
    display: flex;
    width: 600px;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 8px solid #2f3c4a;
}

.mid-section-image-cont {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.mid-section-image-cont img{
    width:200px;
    height: auto;
    border-radius: 15px;
    border: 4px solid rgb(255, 255, 255);
}

.mid-section-image-cont img:hover{
    width:200px;
    height: auto;
    border-radius: 15px;
    border: 4px solid rgb(194, 198, 236);
}

.mid-section-title {
    align-items: center;
    justify-content: center;
}

.mid-section-header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.mid-section {
    background-image: linear-gradient(to right, #11161c,#2f3c4a);
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flexbox;
}

.mid-section-image-cont {
    color:white;
    text-align: center;
}

.bottom-quote-section {
    height: 500px;
    background-image: url(images/showusyourrock.jpg);
    background-size: cover;
    color: white;
}

.quote-section {
    display:flex;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 9px black;
}

.quotee {
    font-size: 25px;
    text-align: end;
    padding: 20px;
    margin-right: 100px;
    font-weight: 600;
}

body {
    background-color:black;
}

.top-section button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: #0d121c 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.top-section button:hover {
    background-color: #eba9b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: #0d121c 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.signup-section {
    background-image: linear-gradient(to right, #11161c,#2f3c4a);
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.signup-container {
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 150px;
    display:flex;
    color: white;
    background-color:rgba(75, 91, 107, 0.3);
    border-radius: 20px;

}

.signup-section button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: #0d121c 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 80px;
    display:flex;
}

.signup-section button:hover {
    background-color: #eba9b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: #0d121c 0px 0px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 80px;
    display:flex;
}

.footer {
    color:white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
}